<link rel="stylesheet" href="/public/editatableprod.css">

<div style=" margin: 1em; margin-top: 1em; display: flex; gap:2em;">
<div>
    <a style="color: white; text-decoration: none;" href="/home">Home</a>
</div>
<div>
    <a style="color: white;  text-decoration: none;" href="/alltables?">Tabelas</a>
</div>
</div>

<h1 style="color: white; margin-left: 47%;">Editar</h1>

<div class="containerform">

<form action="/updatetablesprod" method="post">

    <input type="hidden" name="tablesname" value="{{tablesname}}" >
    
    <input type="hidden" name="id" value="{{data.id}}">

                <span>produto</span>
                <input type="text" name="produto" value="{{data.produto}}" >

                <span>valor</span>
                <input type="number" name="valor" value="{{data.valor}}">

                <span>quantidade</span>
                <input type="number" name="quantidade_comprada" value="{{data.quantidade_comprada}}">

                <span>Descrição</span>
                <input type="text" name="descricao" value="{{data.descricao}}" >

                <span>Estoque</span>
                <input type="number" name="estoque" value="{{data.estoque}}">
                <br> 

                <br>

                <span>Quantidade Venda</span>
                <input type="number" name="quantidade_vendida" value="{{data.quantidade_vendida}}" >

                <span>Valor Venda</span>
                <input type="number" name="valor_venda" value="{{data.valor_venda}}">


                <input class="buttonInit" type="submit" value="Editar" >

</form>
</div>