<link rel="stylesheet" href="/public/showtable.css">

<div style=" margin: 1em; margin-top: 1em; display: flex; gap:2em;">
<div>
    <a style="color: white; text-decoration: none;" href="/home">Home</a>
</div>
<div>
    <a style="color: white;  text-decoration: none;" href="/alltables?">Tabelas</a>
</div>
</div>

<form action="/inserttableprod" method="post">
<div class="containerform" >

    <input type="hidden" name="tablesname" value="{{tablesname}}" >

    <span>Produto</span>
    <input type="text" name="produto" placeholder="product name" >

    <span>Descrição</span>
    <input type="text" name="descricao" placeholder="Descrição" >

    <span>Quantidade Comprada</span>
    <input type="number" name="quantidade_comprada" placeholder="quantidade comprada" >

    <span>Valor Compra</span>
    <input type="number" name="valor" placeholder="valor Compra" > <br>
    
     <span>valor Venda</span>
    <input type="number" name="valor_venda" placeholder="valor Venda" >
     

    <span>Estoque</span>
    <input type="number" name="estoque" placeholder="estoque" >

    <span>Quantidade Venda</span>
    <input type="number" name="quantidade_vendida" placeholder="quantidade vendida" >

   

    <input class="buttonInit" type="submit">

</div>    


</form>


<div class="table">
    {{#if data}} 
    {{#each data}}
    <div class="org">
        
        <div id="btnss">
        
        <div class="btnshowtables">

            <form  action="/edittableprod/{{../tablesname}}/{{this.id}}" method="get" class="btnshowtables"> <!-- ../foi importante aqui para a renderização -->
                <input class="buttonInit2" type="submit" value="edit" >
            </form>

            <form action="/delettableprod" method="post" class="btnshowtables">
                <input type="hidden" name="tablesname" value="{{../tablesname}}"> <!-- ../ (foi crucial aqui para funcionar poois nao estava funcionando de forma alguma) -->
                <input type="hidden" name="id" value="{{this.id}}">
                <input class="buttonInit3" type="submit" value="delet" onclick="return confirm('Are you sure you want to delete this table?');">
            </form>
        </div>

         </div>

        <label for="produto" >
            <h4>Produto</h4>
             <div>{{this.produto}}</div>
        </label>

        <label for="descricao" >
            <h4>Descricao</h4>
            <div style="width: 9em;">{{this.descricao}}</div>
        </label>

         <label for="quantidade" >
            <h4>Quantidade</h4>
            <div>{{this.quantidade_comprada}}</div>
        </label>
       
        <label for="valor" >
            <h4>Valor</h4>
             <div >{{this.valor}}</div>
        </label>

        <label for="valor_venda" >
            <h4>Valor Venda</h4>
            <div>{{this.valor_venda}}</div>
        </label>

         <label for="estoque" >
            <h4>Estoque</h4>
            <div>{{this.estoque}}</div>
        </label>

        <label for="quantidade_vendida" >
            <h4>Quantidade_Vendida</h4>
            <div>{{this.quantidade_vendida}}</div>
        </label>
    
        

    </div>

    
    <hr style="border: 1px solid #050505;
    border-radius: 5px;
    margin: 10px 0">

    {{/each}}

    {{else}}
        <p>A tabela "{{tablesname}}" está vazia ou não tem dados para exibir.</p>
    {{/if}}

    
</div>
<!--vendas-->


<!--
<h1>Conteúdo da Tabela: {{tablesname}}</h1>

{{#if data}}
    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                    <th>{{@key}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    {{#each this}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>A tabela "{{tablesname}}" está vazia ou não tem dados para exibir.</p>
{{/if}}
-->